<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Spotify Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>playme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Firebase Phone Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-846382766731-ios-d7bda055ca31018632d28e</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
